
* {
	box-sizing: border-box;
}


body {
	margin: 0;
}


.nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}


/*.logo {
	width: 140px;
	height: 140px;
	background-color: darkgrey;
}
*/
/*
 *
 * navigation
 *
*/

.nav {
	background-color: white;
	height: 100%;
	width: 200px;
	position: fixed;
	

}

ul {
	padding-left: 0;
}

ul > li {
	list-style: none;
	background-color: #F0E5C9;
	margin-bottom: 2px;
	text-align: center;
	line-height: 30px;
	border-radius: 3%;
/*	padding: 20px;*/
}

ul > li > a {
	text-decoration: none;
}

.main {
	background-color: grey;
	margin-left: 200px;
}

/*
 *
 *banner
 *
 **/

.banner {
	background-color: skyblue;
	position: relative;
	min-height: 700px;
	background-image: url("https://static1.squarespace.com/static/5192a215e4b0efb5c8bd028c/t/560ad2b1e4b082bb08943725/1443549874708/apple-accesories-banner.jpg?format=2500w");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	opacity: 0.5;
}

.box {
	border: 5px solid white;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: 'Vollkorn SC', serif;
}

.about {
	background-color: #f7e3d9;
	min-height: 700px;
}


/*
 *
 * services
 *
*/
.services {
	background-color: white;
	min-height: 300px;
}

.services h3 {
	margin-left: 5%;
}

.services p {
	margin: auto 5% 5%;
	text-align: justify;
}

.services img,
.gallery img{
	width: 100%;
}

.column {
	border: 1px solid black;
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1.16%;
	float: left;
}


.clear:after {
	content: "";
	display: block;
	clear: both;
}

.projects {
	background-color: #FCEEE3;
	min-height: 300px;
}



.gallery {
	background-color: white;
	min-height: 400px;
}

.gallery > .column {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

.gallery h3 {
	margin-left: 5%;
}

.gallery p {
	margin: auto 5% 5%;
	text-align: justify;
}


/*
*
* Footer
*
*/
.footer {
	background-color: #594433;
	min-height: 70px;
}


.contact {
	float: right;
}

img[alt*="Social"]{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 50%;
}