* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F1F4DF;
}

.wrapper {
 	width: 80vw;
    min-height: 84vh;
 }

.navbar {
	margin-bottom: 0;
}

.navbar2-section {
	padding-left: 300px;
}


#loginForm {
	width: 95%;
	margin: 0 auto;
	border: 1px;
	padding: 10px;
}

.login-section {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	background-color: grey;
	border-radius: 10px;
}

.btn {
	padding: 6px 29px 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .7);
}


.main-footer {
	color: #F1F4DF;
	background-color: #171717;
	padding: 15px;
	text-align: center;
}

