* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background-color: #F1F4DF;*/
}

.clear {
	clear: both;
}

.wrapper {
 	width: 100vw;
    min-height: 84vh;	
 }

 .feature {
 	text-align: center;
 }

 #feature-1stcol,
 #feature-2ndcol {
 	margin-bottom: 40px;
 }

.navbar {
	margin-bottom: 0;
}



.navbar-inverse .navbar-nav>li>a {
	/*text-align: center;*/
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: grey;
    padding: 16px;
    font-size: 12px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


#login-sec {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	background-color: #D1D9DD;
	margin-top: 50px;
}

#form-header {
	margin-bottom: 20px;	
}

	


.btn {
	padding: 6px 29px 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .7);
}




.main-footer {
	color: #F1F4DF;
	background-color: #171717;
	padding: 15px;
	text-align: center;
}

.footer-col,
 .brandlist-col {
	width: 200px;
	height: auto;
	/*border: 1px solid red;*/
	display: inline-block;
	margin: 10px;
}

.footer-col {
	text-align: left;
	
	
}



ul>li {
	text-decoration: none;
	list-style-type: none;
}



.jumbotron {
	color: brown;
	/*background: url('https://cdn.pixabay.com/photo/2017/10/03/12/07/bottle-2812214_960_720.jpg');*/
	background: url(../images/main-banner.jpg);
	background-size: cover;
	background-position: left center;
	background-attachment: scroll;
	height: auto;
	margin-bottom: 0;

}


.jumbotron>h1{
	margin-right: 130px;
	text-align: right;
	font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron>p{
	margin-right: 130px;
	text-align: right;
	margin-top: 30px;
}


/*catalog*/
.left-side-bar {
	width: 200px;
	height: auto;
	background-color: black;
	float: left;
}

#sidebar-title {
	background-color: white;
	color: black;
	font-size: 22px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

#cats,
#brands {
	text-align: center;
}

#cats li,
#brands li {
	list-style: none;
	margin: 5px;
	
}

#cats a,
#brands a {
	color: grey;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
}

#cats a:hover,
#brands a:hover {
	color: orange;
	font-weight: bolder;

}

/****************** media queries *****************/

/* mobile devices */
@media only screen and (max-width: 400px) {


	#form-search {
		width: 100%;
	}

	#login-sec {
		width: 100%;
	}

	.jumbotron>h1, 
	.jumbotron>p {
		margin: 0;
		text-align: center;
		margin-top: 30px;
	}

	.footer-col {
		width: 100%;
		margin: 0;
	}

	#footer-col2 {
		margin: 10px 0; 
	}	
}
	
}



/* tablet devices */
@media only screen and (min-width: 401px) 
and (max-width: 960px) {
	
	
}



/* desktop devices */
@media only screen and (min-width: 961px) {

	




}
