/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to avoid overflow (horizontal scroll bar)*/
}


.container {
	background-color: #eaedf0;
}

.page {
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.menu {
	height: 100px;
	background-color: #b2d6ff; /*blue*/
}

.sidebar{
	height: 300px;
	background-color: #f09a9d; /*red*/
	width: 200px;
	float: left; /*NONE is default value of float*/
	/*opacity: 0.5;*/

}

.content {
/*	height: 500px;*/ /*remove height so not to overflow*/
	width: 650px;
	background-color: #f5cf8e; /*yellow*/
	float: left;
	/*opacity: 0.5;*/
	padding: 20px;

}

.article-image {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.footer {
/*	height: 200px;
*/	background-color: #d6e9fe; /*light blue*/
	clear: both; /*remove floating side effects*/
	/*border: 1px solid red;*/
}

.column {
	height: 160px;
	width: 31%;
	background-color: #b2d6ff;	
	float: left;
	margin: 20px 1.16%;
	position: relative;
}

.avatar >img{
    width: 70px;
    height: 60px;
    background-color: #d6e9fe;
    border-radius: 50%;
    margin: 20px;
    float: left;
    border-radius: 10%;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}


/*
*
* best practice to clear floats
*
*/

.clear:after {
	content: ""; /*empty string or invisible element*/
	clear: both;
	display: block;
}


/*
*
*css work around for multiline ellipsis
*
*/

/*managing text with overflow*/
.block-with-text {
	overflow: hidden;
	position: relative;
	line-height: 1.2em; 
	max-height: 3.6em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 30px;
}

.block-with-text:before {
	content: "...";
	position: absolute;
	right: 17px;
	bottom: 0;
}


/*for comments shorter than alloted height*/
.block-with-text:after {
	content: "";
	position: absolute;
	right: 17px;
	width: 1em; 
	height: 1em;
	margin-top: 0.2em;
	background: #b2d6ff;
}

.read-more {
	/*float: right;*/
	position: absolute;
	right: 18px;
	bottom: 16px;
}