body {
	background-color: pink;
	background: url("../img/matrix.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;	
	font-family: 'cabin', san-serif;
}

p {
	font-family: 'anton', san-serif;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#me {
	height: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: 'LightGray';
	margin-top: 50px;
}

.about {
	width: 100%;
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}