* {

	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

/****** index *****/


body {
	background-color: black;

}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*border for guides*/

/*.quote,
.form-container {
	border: 1px solid red;

}*/

/****************** index section *****************/

.logo {
	min-height: 40px;
	color: white;
	width: 110%;
	margin: 0;
	margin-right: 20px;
	padding-top: 8px;
}

#img-logo {
	margin-left: 10px;
	margin-right: 10px;
	width: 35px;
	height: 35px;	
}


.banner {
	width: 100%;
    min-height: 700px;
    margin: 0 auto;
    background-image: url(https://images.pexels.com/photos/35649/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin-top: -20px;
    margin-bottom: 80px;
    text-align: center;


}


.quote {
	height: 400px;
	color: white;
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 100px; 
	border-right: 3px solid white;
}	


#cedarville {
	font-family: 'Cedarville Cursive', cursive;
}


.features {
	padding: 50px;
}

.glyphicon {
	size: 50px;
}

h1 {
	font-family: 'Merienda One', cursive;
	size: 50px;
}

.form-container {
	height: 400px;
	margin-top: 110px;
	padding: 50px;
	margin-bottom: 100px; 

}

div > input {
	margin: 5px;
	text-align: center;
	border-radius: 5px;

}

.form-group {
	width: 250px;	
}

.form-control {
	width: 250px;
}

.btn-lg {
	padding: 6px 12px;
	margin-top: 50px;
}


.btn {
	width: 220px;
	background-color: black;
	opacity: 0.8;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	list-style: none;
	font-size: 16px;
}

.separator-container {
	max-width: 400px;
	display: flex;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}


.separator-text {
	color: white;
	padding: 10px;
}


.separator-line {
	width: 20px;
	border: 1px solid white;
}

dropdown-toggle {
	text-align: center;
}


label {
	color: white;
	padding:; 0;
}

h4 {
	font-family: 'Muli', sans-serif;
	color: white;
}

p {
	color: white;
}





/****************** end of index section *****************/
/****************** end of index section *****************/















/****************** home section *****************/




.content-container {/*home.html*/
	width: 100%;
	height: auto; /*631px*/
	background-color: transparent;
	margin-top: -20px;
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	background-color: #F0E5C9;
}

.item img {
	padding-top: 20px;
	vertical-align: middle;
}

#left {
	margin-right: 0;
	padding-right: 0;
}


#right {
	margin-left: 0;
	padding-left: 0;
}




/****************** end of home section *****************/
/****************** end of home section *****************/







/****************** about section *****************/

.about {
	background-color: black;
}

/****************** end of about section *****************/
/****************** end of about section *****************/



/****************** services section *****************/
.services {
	background-color: #F0E5C9;
}
/****************** end of services section *****************/
/****************** end of services section *****************/



/****************** contact section *****************/

.contact {
	height: auto;
	background-color: black;
}
/****************** end of contact section *****************/
/****************** end of contact section *****************/







/****************** footer section *****************/


.footer {
	width: 100%;
	min-height: auto;
	background-color: darkgrey;
	margin: 0 auto;
}

.footer-section {
	text-align: center;

}

div .icons {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #4267b2;
}

.footer-icons {
	font-size: 30px;
	text-align: center;
}

.fa {
	padding-right: 5px;
	padding-left: 5px;
}


.fa-instagram {
	color: brown;
}

.fa-pinterest-square {
	color: darkred;
}

.fa-youtube-play {
	color: red;
}

a {
	text-decoration: none;
	list-style: none;
}
/****************** end of footer section *****************/
/****************** end of footer section *****************/




/****************** media queries *****************/

/* mobile devices */
@media only screen and (max-width: 400px) {

	.banner {
		max-width: 400px;
	}

	.navbar-toggle {
		width: 50px;
	}

	.quote {
		border-right: 0;
	}	


}



/* tablet devices */
@media only screen and (min-width: 401px) 
and (max-width: 960px) {
	.navbar-toggle {
		width: 50px;
	}

	.quote {
		border-right: 0;
	}	

}



/* desktop devices */
@media only screen and (min-width: 961px) {


}