* {

	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

/****** index *****/


body {
	background-color: black;
}

.logo-container {
	width: 100%;
	display: inline-block;
}

.logo {
	width: 80%;
	min-height: 40px;
	margin: 10px;
	color: white;
}



/*.navbar {
	border-radius: 0;
	margin-bottom: 1px;
}*/


.banner {
	width: 100%;
	min-height: 600px;
	background-color: lightblue;
	background-image: url('https://images.pexels.com/photos/46794/camera-photos-photograph-paper-prints-46794.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
/*	opacity: 0.5;*/
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	margin-top: -20px;
	margin-bottom: 80px;
	text-align: center;
}


.quote {
	color: white;
	padding-top: 80px;
	margin-bottom: 100px; 	
	padding-left: 20px;
	padding-right: 20px;
}	


h2 {
font-family: 'Cedarville Cursive', cursive;
}


h1 {
	font-family: 'Merienda One', cursive;
}


button {
	width: 220px;
	background-color: black;
	opacity: 0.8;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	list-style: none;
}


.login-info {
	padding: 10px;
	margin-bottom: 20px;
}

.logo {
	width: 110%;
	margin: 0;
	margin-right: 20px;
	padding-top: 8px;

}

#img-logo {
	margin-left: 10px;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	
}





div > input {
	width: 220px;
	margin: 5px;
	text-align: center;
	border-radius: 5px;
}


.separator-container {
	max-width: 400px;
	display: flex;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}


.separator-text {
	color: white;
	padding: 10px;
}


.separator-line {
	width: 25px;
	border: 1px solid white;
}


#left {
	margin-right: 0;
	padding-right: 0;
}


#right {
	margin-left: 0;
	padding-left: 0;
}


.clear:after {
	content: "";
	display: block;
	clear: both;
}

/****** home section *****/
/****** home section *****/

/*.container-fluid {
	
}*/

.content-container {
	width: 100%;
	height: auto; /*631px*/
	background-color: transparent;
	margin-top: -20px;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;

}



.carousel-inner {
	
	height: auto;

}

.item img {
	padding-top: 20px;
	vertical-align: middle;
}





.footer {
	width: 100%;
	min-height: 100px;
	background-color: darkgrey;
}



/****** end of home section *****/
/****** end of home section *****/


/****** gallery section *****/
/****** services section *****/
/****** about section *****/
/****** contact section *****/



/****** media queries *****/

/* mobile devices */
@media only screen and (max-width: 400px) {

	.banner {
		max-width: 400px;
	}

	.navbar-toggle {
		width: 50px;
	}


}



/* tablet devices */
@media only screen and (min-width: 401px) 
and (max-width: 960px) {
	.navbar-toggle {
		width: 50px;
	}
}



/* desktop devices */
@media only screen and (min-width: 961px) {


}