/*CSS reset*/
*{
	margin: 0;
	padding: 0;
}

.wrapper {
	border: 1px solid blue;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
}

div.wrapper > div,
div.wrapper > div > div {
	border: 2px solid #5d6063;
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	margin-top: 25px;
}


h1,
p{
	background-color: #dde0e3;
}

/*from inline type to block type elemetns*/
em,
strong{
	background-color: #b2d6ff;
	display: inline;
}

h1{ 
	padding: 50px;
	border: 1px solid #5d6063;
	margin-top: 10px;
}

/* applying padding to specific sides of box model
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 30px;
		padding-left: 40px; 
*/

/* applying border to specific sides
	border-top: 1px solid #5d6063;
	border-right: 1px solid #5d6063;
	border-bottom: 1px solid #5d6063;
	border-left: 1px solid #5d6063;

*/

strong{
	/*padding: 50px;*/
	margin: 50px;
}

p{
	padding: 20px 0 20px 10px;
	/*margin-bottom: 50px;*/
	margin-top: 25px;
}