body {
	background-color: gold;
}

.main-footer {
	background-color: lightgrey;
	padding: 15px;
	text-align: center;
}

.wrapper {
	background-color: white;
	width: 80vw;
	height: 87vh;
	margin: 0 auto;
}

h1,
.navbar-inverse {
	margin: 0;
}

.navbar {
	border-radius: 0;
}


